data/activations/activationsSignBin100epochs100nplInput0
data/activations/activationsSignBin100epochs100nplInput1
data/activations/activationsSignBin100epochs100nplInput2
data/activations/activationsSignBin100epochs100nplInput3
data/activations/activationsSignBin100epochs100nplInput4
data/gradients/gradientsSignBin100epochs100nplSTE0
data/gradients/gradientsSignBin100epochs100nplSTE1
data/gradients/gradientsSignBin100epochs100nplSTE2
data/gradients/gradientsSignBin100epochs100nplSTE3
data/layersImportance/layer0Importance10e3GradientBinarySign100epochs100npl
data/layersImportance/layer1Importance10e3GradientBinarySign100epochs100npl
data/layersImportance/layer2Importance10e3GradientBinarySign100epochs100npl
data/layersImportance/layer3Importance10e3GradientBinarySign100epochs100npl
data/layersImportance/layer4Importance10e3GradientBinarySign100epochs100npl
data/MNIST/raw/t10k-images-idx3-ubyte
data/MNIST/raw/t10k-images-idx3-ubyte.gz
data/MNIST/raw/t10k-labels-idx1-ubyte
data/MNIST/raw/t10k-labels-idx1-ubyte.gz
data/MNIST/raw/train-images-idx3-ubyte
data/MNIST/raw/train-images-idx3-ubyte.gz
data/MNIST/raw/train-labels-idx1-ubyte
data/MNIST/raw/train-labels-idx1-ubyte.gz
models/savedModels/MNISTSignbinNN100Epoch100NPLnllCriterion
modelsBNNPaper/savedModels/MNISTbinNN50Epoch8192NPLhingeCriterion
modelsBNNPaper/savedModels/MNISTbinNNMod25Epoch8192NPLhingeCriterion
modelsBNNPaper/savedModels/MNISTbinNNMod50Epoch4096NPLhingeCriterion
modelsBNNPaper/savedModels/MNISTSignbinNN50Epoch4096NPLhingeCriterion
modelsBNNPaper/savedModels/MNISTSignModbinNN100Epoch4096NPLhingeCriterion
src/modelCreation/modules/__pycache__/binaryBNN.cpython-311.pyc
src/modelCreation/modules/__pycache__/binaryEnergyEfficiency.cpython-311.pyc
src/modelCreation/modules/__pycache__/fpNN.cpython-311.pyc
src/modelCreation/savedModels/MNISTbinNN50Epoch8192NPLhingeCriterion
src/modelCreation/savedModels/MNISTbinNNMod25Epoch8192NPLhingeCriterion
src/modelCreation/savedModels/MNISTbinNNMod50Epoch4096NPLhingeCriterion
src/modelCreation/savedModels/MNISTSignbinNN50Epoch4096NPLhingeCriterion
src/modelCreation/savedModels/MNISTSignbinNN100Epoch100NPLnllCriterion
src/modelCreation/savedModels/MNISTSignModbinNN100Epoch4096NPLhingeCriterion
data/layersImportance/layer0Importance1e1GradientBinarySignBNN50epochs100npl
data/layersImportance/layer0Importance1e3GradientBinarySignBNN50epochs100npl
data/layersImportance/layer1Importance1e1GradientBinarySignBNN50epochs100npl
data/layersImportance/layer1Importance1e3GradientBinarySignBNN50epochs100npl
data/layersImportance/layer2Importance1e1GradientBinarySignBNN50epochs100npl
data/layersImportance/layer2Importance1e3GradientBinarySignBNN50epochs100npl
data/layersImportance/layer3Importance1e1GradientBinarySignBNN50epochs100npl
data/layersImportance/layer3Importance1e3GradientBinarySignBNN50epochs100npl
data/layersImportance/layer4Importance1e1GradientBinarySignBNN50epochs100npl
data/layersImportance/layer4Importance1e3GradientBinarySignBNN50epochs100npl
src/importanceCalculation/modelsCommon/__pycache__/auxFunctionsBNN.cpython-311.pyc
src/importanceCalculation/modelsCommon/__pycache__/auxFunctionsEnergyEfficiency.cpython-311.pyc
src/importanceCalculation/modelsCommon/__pycache__/auxTransformations.cpython-311.pyc
src/importanceCalculation/modelsCommon/__pycache__/steFunction.cpython-311.pyc
src/importanceCalculation/modules/__pycache__/binaryBNN.cpython-311.pyc
src/importanceCalculation/modules/__pycache__/binaryEnergyEfficiency.cpython-311.pyc
src/importanceCalculation/modules/__pycache__/fpNN.cpython-311.pyc
src/importanceCalculation/ttUtilities/__pycache__/accLayer.cpython-311.pyc
src/importanceCalculation/ttUtilities/__pycache__/auxFunctions.cpython-311.pyc
src/importanceCalculation/ttUtilities/__pycache__/binaryOutputNeuron.cpython-311.pyc
src/importanceCalculation/ttUtilities/__pycache__/helpLayerNeuronGenerator.cpython-311.pyc
src/modelCreation/__pycache__/auxFunctionsBNN.cpython-311.pyc
src/modelCreation/__pycache__/auxFunctionsEnergyEfficiency.cpython-311.pyc
src/modelCreation/__pycache__/binaryBNN.cpython-311.pyc
src/modelCreation/__pycache__/binaryEnergyEfficiency.cpython-311.pyc
src/modelCreation/__pycache__/fpNN.cpython-311.pyc
src/modelCreation/modelsCommon/__pycache__/auxFunctionsBNN.cpython-311.pyc
src/modelCreation/modelsCommon/__pycache__/auxFunctionsEnergyEfficiency.cpython-311.pyc
src/modelCreation/modelsCommon/__pycache__/auxTransformations.cpython-311.pyc
src/modelCreation/modelsCommon/__pycache__/steFunction.cpython-311.pyc
src/modelCreation/ttUtilities/__pycache__/auxFunctions.cpython-311.pyc
