data/activations/activationsSignBin100epochs100nplInput0
data/activations/activationsSignBin100epochs100nplInput1
data/activations/activationsSignBin100epochs100nplInput2
data/activations/activationsSignBin100epochs100nplInput3
data/activations/activationsSignBin100epochs100nplInput4
data/gradients/gradientsSignBin100epochs100nplSTE0
data/gradients/gradientsSignBin100epochs100nplSTE1
data/gradients/gradientsSignBin100epochs100nplSTE2
data/gradients/gradientsSignBin100epochs100nplSTE3
data/layersImportance/layer0Importance10e3GradientBinarySign100epochs100npl
data/layersImportance/layer1Importance10e3GradientBinarySign100epochs100npl
data/layersImportance/layer2Importance10e3GradientBinarySign100epochs100npl
data/layersImportance/layer3Importance10e3GradientBinarySign100epochs100npl
data/layersImportance/layer4Importance10e3GradientBinarySign100epochs100npl
data/MNIST/raw/t10k-images-idx3-ubyte
data/MNIST/raw/t10k-images-idx3-ubyte.gz
data/MNIST/raw/t10k-labels-idx1-ubyte
data/MNIST/raw/t10k-labels-idx1-ubyte.gz
data/MNIST/raw/train-images-idx3-ubyte
data/MNIST/raw/train-images-idx3-ubyte.gz
data/MNIST/raw/train-labels-idx1-ubyte
data/MNIST/raw/train-labels-idx1-ubyte.gz
models/savedModels/MNISTSignbinNN100Epoch100NPLnllCriterion
modelsBNNPaper/savedModels/MNISTbinNN50Epoch8192NPLhingeCriterion
modelsBNNPaper/savedModels/MNISTbinNNMod25Epoch8192NPLhingeCriterion
modelsBNNPaper/savedModels/MNISTbinNNMod50Epoch4096NPLhingeCriterion
modelsBNNPaper/savedModels/MNISTSignbinNN50Epoch4096NPLhingeCriterion
modelsBNNPaper/savedModels/MNISTSignModbinNN100Epoch4096NPLhingeCriterion
src/modelCreation/modules/__pycache__/binaryBNN.cpython-311.pyc
src/modelCreation/modules/__pycache__/binaryEnergyEfficiency.cpython-311.pyc
src/modelCreation/modules/__pycache__/fpNN.cpython-311.pyc
src/modelCreation/savedModels/MNISTbinNN50Epoch8192NPLhingeCriterion
src/modelCreation/savedModels/MNISTbinNNMod25Epoch8192NPLhingeCriterion
src/modelCreation/savedModels/MNISTbinNNMod50Epoch4096NPLhingeCriterion
src/modelCreation/savedModels/MNISTSignbinNN50Epoch4096NPLhingeCriterion
src/modelCreation/savedModels/MNISTSignbinNN100Epoch100NPLnllCriterion
src/modelCreation/savedModels/MNISTSignModbinNN100Epoch4096NPLhingeCriterion
data/layersImportance/layer0Importance1e1GradientBinarySignBNN50epochs100npl
data/layersImportance/layer0Importance1e3GradientBinarySignBNN50epochs100npl
data/layersImportance/layer1Importance1e1GradientBinarySignBNN50epochs100npl
data/layersImportance/layer1Importance1e3GradientBinarySignBNN50epochs100npl
data/layersImportance/layer2Importance1e1GradientBinarySignBNN50epochs100npl
data/layersImportance/layer2Importance1e3GradientBinarySignBNN50epochs100npl
data/layersImportance/layer3Importance1e1GradientBinarySignBNN50epochs100npl
data/layersImportance/layer3Importance1e3GradientBinarySignBNN50epochs100npl
data/layersImportance/layer4Importance1e1GradientBinarySignBNN50epochs100npl
data/layersImportance/layer4Importance1e3GradientBinarySignBNN50epochs100npl
src/importanceCalculation/modelsCommon/__pycache__/auxFunctionsBNN.cpython-311.pyc
src/importanceCalculation/modelsCommon/__pycache__/auxFunctionsEnergyEfficiency.cpython-311.pyc
src/importanceCalculation/modelsCommon/__pycache__/auxTransformations.cpython-311.pyc
src/importanceCalculation/modelsCommon/__pycache__/steFunction.cpython-311.pyc
src/importanceCalculation/modules/__pycache__/binaryBNN.cpython-311.pyc
src/importanceCalculation/modules/__pycache__/binaryEnergyEfficiency.cpython-311.pyc
src/importanceCalculation/modules/__pycache__/fpNN.cpython-311.pyc
src/importanceCalculation/ttUtilities/__pycache__/accLayer.cpython-311.pyc
src/importanceCalculation/ttUtilities/__pycache__/auxFunctions.cpython-311.pyc
src/importanceCalculation/ttUtilities/__pycache__/binaryOutputNeuron.cpython-311.pyc
src/importanceCalculation/ttUtilities/__pycache__/helpLayerNeuronGenerator.cpython-311.pyc
src/modelCreation/__pycache__/auxFunctionsBNN.cpython-311.pyc
src/modelCreation/__pycache__/auxFunctionsEnergyEfficiency.cpython-311.pyc
src/modelCreation/__pycache__/binaryBNN.cpython-311.pyc
src/modelCreation/__pycache__/binaryEnergyEfficiency.cpython-311.pyc
src/modelCreation/__pycache__/fpNN.cpython-311.pyc
src/modelCreation/modelsCommon/__pycache__/auxFunctionsBNN.cpython-311.pyc
src/modelCreation/modelsCommon/__pycache__/auxFunctionsEnergyEfficiency.cpython-311.pyc
src/modelCreation/modelsCommon/__pycache__/auxTransformations.cpython-311.pyc
src/modelCreation/modelsCommon/__pycache__/steFunction.cpython-311.pyc
src/modelCreation/ttUtilities/__pycache__/auxFunctions.cpython-311.pyc
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N0.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N1.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N2.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N3.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N4.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N5.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N6.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N7.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N8.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N9.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N10.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N11.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N12.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N13.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N14.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N15.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N16.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N17.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N18.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N19.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N20.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N21.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N22.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N23.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N24.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N25.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N26.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N27.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N28.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N29.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N30.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N31.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N32.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N33.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N34.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N35.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N36.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N37.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N38.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N39.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N40.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N41.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N42.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N43.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N44.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N45.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N46.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N47.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N48.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N49.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N50.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N51.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N52.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N53.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N54.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N55.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N56.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N57.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N58.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N59.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N60.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N61.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N62.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N63.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N64.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N65.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N66.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N67.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N68.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N69.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N70.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N71.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N72.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N73.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N74.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N75.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N76.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N77.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N78.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N79.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N80.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N81.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N82.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N83.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N84.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N85.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N86.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N87.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N88.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N89.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N90.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N91.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N92.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N93.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N94.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N95.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N96.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N97.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N98.pla
data/ABC/layer0_MNISTSignbinNN100Epoch100NPLnllCriterionoutputL1N99.pla
data/layersTT/layer0_MNISTSignbinNN100Epoch100NPLnllCriterion
data/layersTT/layer1_MNISTSignbinNN100Epoch100NPLnllCriterion
data/layersTT/layer2_MNISTSignbinNN100Epoch100NPLnllCriterion
data/layersTT/layer3_MNISTSignbinNN100Epoch100NPLnllCriterion
data/layersTT/layer4_MNISTSignbinNN100Epoch100NPLnllCriterion
src/realization/ttUtilities/__pycache__/accLayer.cpython-311.pyc
src/realization/ttUtilities/__pycache__/auxFunctions.cpython-311.pyc
src/realization/ttUtilities/__pycache__/binaryOutputNeuron.cpython-311.pyc
src/realization/ttUtilities/__pycache__/helpLayerNeuronGenerator.cpython-311.pyc
src/realization/ttUtilities/__pycache__/isfRealization.cpython-311.pyc
