data/*
src/modelCreation/savedModels/*
src/importanceCalculation/modelsCommon/__pycache__/auxFunctionsBNN.cpython-311.pyc
src/importanceCalculation/modelsCommon/__pycache__/auxFunctionsEnergyEfficiency.cpython-311.pyc
src/importanceCalculation/modelsCommon/__pycache__/auxTransformations.cpython-311.pyc
src/importanceCalculation/modelsCommon/__pycache__/steFunction.cpython-311.pyc
src/importanceCalculation/modules/__pycache__/binaryBNN.cpython-311.pyc
src/importanceCalculation/modules/__pycache__/binaryEnergyEfficiency.cpython-311.pyc
src/importanceCalculation/modules/__pycache__/fpNN.cpython-311.pyc
src/importanceCalculation/ttUtilities/__pycache__/accLayer.cpython-311.pyc
src/importanceCalculation/ttUtilities/__pycache__/auxFunctions.cpython-311.pyc
src/importanceCalculation/ttUtilities/__pycache__/binaryOutputNeuron.cpython-311.pyc
src/importanceCalculation/ttUtilities/__pycache__/helpLayerNeuronGenerator.cpython-311.pyc
src/modelCreation/__pycache__/auxFunctionsBNN.cpython-311.pyc
src/modelCreation/__pycache__/auxFunctionsEnergyEfficiency.cpython-311.pyc
src/modelCreation/__pycache__/binaryBNN.cpython-311.pyc
src/modelCreation/__pycache__/binaryEnergyEfficiency.cpython-311.pyc
src/modelCreation/__pycache__/fpNN.cpython-311.pyc
src/modelCreation/modelsCommon/__pycache__/auxFunctionsBNN.cpython-311.pyc
src/modelCreation/modelsCommon/__pycache__/auxFunctionsEnergyEfficiency.cpython-311.pyc
src/modelCreation/modelsCommon/__pycache__/auxTransformations.cpython-311.pyc
src/modelCreation/modelsCommon/__pycache__/steFunction.cpython-311.pyc
src/modelCreation/ttUtilities/__pycache__/auxFunctions.cpython-311.pyc
src/realization/ttUtilities/__pycache__/accLayer.cpython-311.pyc
src/realization/ttUtilities/__pycache__/auxFunctions.cpython-311.pyc
src/realization/ttUtilities/__pycache__/binaryOutputNeuron.cpython-311.pyc
src/realization/ttUtilities/__pycache__/helpLayerNeuronGenerator.cpython-311.pyc
src/realization/ttUtilities/__pycache__/isfRealization.cpython-311.pyc
src/networkSimulatorPython/__pycache__/aigsim.cpython-311.pyc
src/networkSimulatorPython/__pycache__/aigsimgates.cpython-311.pyc
src/networkSimulatorPython/__pycache__/aigTransTable.cpython-311.pyc
src/inputFilesGenerator/modelsCommon/__pycache__/auxTransformations.cpython-311.pyc
src/modelCreation/modules/__pycache__/binaryBNN.cpython-311.pyc
src/modelCreation/modules/__pycache__/binaryEnergyEfficiency.cpython-311.pyc
src/modelCreation/modules/__pycache__/fpNN.cpython-311.pyc
